@import "tailwindcss";

body {
  font-family: "Montserrat";
  background-color: #f8f8f8;
}

.heart {
  font-size: 60px;
  color: #e00;
  animation: beat 0.5s infinite alternate;
  transform-origin: center;
}

/* Heart beat animation */
@keyframes beat {
  to {
    transform: scale(1.1);
  }
}
